.userList {
  flex: 4;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #00008B;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    color: red;
    cursor: pointer;
}

.userAddButton {
  width: 100px;
  border: none;
  padding: 5px;
  background-color: #00008B;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
  flex: 2;
}

.chartTitle {
  flex: 2;
}

.productHeader {
    display: flex;
    margin-bottom: 20px;
}
